body{
    padding: 0;
    margin: 0;
    background: #F7F8FA;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
p{
    margin: 0;
}
h3{
    margin: 0 ;
}
#pc{
    display: none;
}
.container {
    width: 100%;
    height: 100%;
}
.top{
    padding:4px 2.67%;
    background: white;
}
.top > img {
    width: 23.47%;
}
.top_name{
    display: none;
}
/*.top_name > li{*/
/*    padding: 0 20px;*/
/*    list-style: none;*/
/*    float: left;*/
/*    font-size: 17px;*/
/*    line-height: 6px;*/
/*}*/
.one_box{
    width: 95%;
    margin: 0 auto;
    margin-top: 5px;
    position: relative;
}
.one_box > img {
    width: 100%;
}
.one_text1{
    font-size: 27px;
    font-family: HarmonyOS Sans SC;
    font-weight: 900;
    color: #000000;
}
.one_text2{
    width: 100%;
    height: 3.5rem;
    font-size: 27px;
    font-family: HarmonyOS Sans SC;
    font-weight: 900;
    color: #FFFFFF;
     background: url('../img/beijingtu.png') no-repeat;
    background-size: 100% 100%;
    /*line-height: 1.7rem;*/
}
.one_text2 > img {
    position: absolute;
    width: 4rem;
    bottom: 0;
    right: -0.1rem;
}
.two_box{
    width: 95%;
    margin: 0 auto;
    margin-top: 17px;
    padding-bottom: 10px;
    border: 1px solid #FFAE00;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    background: white;
}
.two_box > img {
    width: 33.8%;
    /*height: 500px;*/
    margin-top: 5px;
    margin-left: 7px;
}
.two_box > div {
    margin-top: 29px;
    margin-right: 5.92%;
}
.two_box > div > h3 {
    font-size: 13px;
    font-family: HarmonyOS Sans SC;
    font-weight: bold;
    color: #000000;
}
.two_box > div > p {
    font-size: 9px;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #6B7280;
    margin-top: 4px;
    padding-bottom: 4px;
}
.two_box > div > a {
    display: flex;
    font-size: 6px;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    text-decoration: underline;
    color: #FFAE00;
}
.two_box > div > a > img {
    width: 8px;
    margin-left: 3px;
}
.three_box{
    width: 100%;
    background: white;
    padding-top: 17px;
}
.three_box > h3 {
    font-size: 13px;
    font-family: HarmonyOS Sans SC;
    font-weight: bold;
    color: #1F242C;
    text-align: center;
    margin: 0 auto;
}
.three_box > p {
    width: 73%;
    font-size: 7px;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #4D4D4D;
    line-height: 12px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
.three_box > div {
    display: flex;
    width: 87.5%;
    margin: 0 auto;
    margin-top: 13px;
    padding-bottom: 16px;
    justify-content: space-between;
}
.three_1{
    width: 31.7%;
    /*height: 140px;*/
    border: 1px solid #FFAE00;
    border-radius: 7px;
    position: relative;
}
.three_1 > img {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 3px;
}
.three_1 > h3 {
    font-size: 6px;
    font-family: HarmonyOS Sans SC;
    font-weight: bold;
    color: #1F242C;
    margin-top: 5px;
    margin-left: 7.03%;
}
.three_1 > p {
    width:86%;
   font-size: 5px;
     font-family: HarmonyOS Sans SC;
     font-weight: 400;
     color: #4D4D4D;
     margin-top: 2px;
     margin-left: 7.03%;
     display: table;
     padding-bottom: 20px;
     word-break: break-all;
}
.three_1 > a {
    display: flex;
    font-size: 5px;
    font-family: HarmonyOS Sans SC;
    font-weight: 500;
    color: #FFAE00;
    position: absolute;
    left: 7.03%;
    bottom: 5px;
}
.three_1 > a > img {
    width: 8px;
    margin-left: 4px;
}
.four_box{
    width: 100%;
    height: 165px;
    background: #081323;
    padding-top: 15px;
    position: relative;
}
.four_box > h3 {
    font-size: 13px;
    font-family: HarmonyOS Sans SC;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}
.four_box > p {
    font-size: 8px;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 12px;
    text-align: center;
    margin: 0 auto;
    margin-top: 12px;
}
.four_box > img {
    width: 45.87%;
    position: absolute;
    left: 27%;
    top: 107px;
}
.five_box {
    width: 100%;
    padding-top: 95px;
    background: white;
}
.five_box > h3 {
    font-size: 20px;
    font-family: HarmonyOS Sans SC;
    font-weight: bold;
    color: #1F242C;
    text-align: center;
    margin: 0 auto;
}
.five_box > p {
    font-size: 8px;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #4D4D4D;
    line-height: 12px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
.five_box > div {
    width: 87.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    padding-bottom: 25px;
}
.five_1{
    width: 26.2%;
}
.five_1 > h3 {
    font-size: 6px;
    font-family: HarmonyOS Sans SC;
    font-weight: bold;
    color: #1F242C;
    text-align: center;
    margin: 0 auto;
    margin-top: 4px;
}
.five_1 > p {
    font-size: 5px;
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    color: #4D4D4D;
    line-height: 12px;
    margin-top: 4px;
    text-align: center;
}
.five_1 > img {
    width: 95%;
    margin-left: 2.5%;
}
.six_box{
    width: 87.5%;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 18px;
}
.six_box > h3 {
    font-size: 13px;
    font-family: HarmonyOS Sans SC;
    font-weight: bold;
    color: #1F242C;
    text-align: center;
    margin: 0 auto;
}
.six_box_1{
    width: 5.7%;
    height: 2px;
    background: #FFAE00;
    margin: 0 auto;
    margin-top: 5px;
}
.pz_3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    margin-top: 11px;
}
.pz_3 > img {
    width: 18.57%;
    margin: 1px !important;
}
.pz{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 11px;
}
.pz > img {
    width: 18.57%;
    margin-top: 6px;
}
.bottom{
    /*width: 100%;*/
    padding:0 2%;
    height: 65px;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.b1{
    width: 21.33%;
    /*position: absolute;*/
    /*left: 2.67%;*/
    /*top: 24px;*/
}
.b1_lm{
    /*position: absolute;*/
    /*left: 25.6%;*/
    /*top: 30px;*/
    margin:0 3%;
    font-size: 4px;
}
.b2{
    font-size: 5px;
    font-family: DINPro;
    font-weight: 500;
    color: #6B7280;
    /*position: absolute;*/
    /*left: 27.64%;*/
    /*top: 29px;*/
}
.b3{
    width: 15.07%;
    cursor: pointer;
    /*position: absolute;*/
    /*right: 18%;*/
    /*top: 23px;*/
}
.b4{
    width: 15.07%;
    margin: 0 11%;
    /*position: absolute;*/
    /*right: 12%;*/
    /*top: 23px;*/
}
.b5{
    width: 15.07%;
    cursor: pointer;
    /*position: absolute;*/
    /*right: 6%;*/
    /*top: 23px;*/
}
.inline-flex{
    display: flex;
    align-items: center;
    
} 
.inline-flex-2{
     display: flex;
    align-items: center;
    justify-content: flex-end;
}
.docs_{
    font-size: 6px;
    width: 30px;
    height: 17px;
    background: #FFAE00;
    border-radius: 8px 8px 8px 8px;
    opacity: 1;
    color: white;
    text-align: center;
    line-height: 17px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.docs_l{
    position: absolute;
    top: 7px;
    right: 13.38%;
    width: 15px!important;
    height: 15px;
    line-height: 17px;
    /*border-radius: 8px 8px 8px 8px;*/
    opacity: 1;
    /*border: 0.5px solid #FFAE00;*/
    font-size: 7px;
    font-family: AlibabaPuHuiTiM-, AlibabaPuHuiTiM;
    font-weight: normal;
    color: #FFAE00;
    line-height: 17px;
    text-align: center;
}
.docs_l > img {
    width: 6px;
    position: absolute;
    top: 7.5px;
    right: 11%;
}
#mobile_top_nav{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    z-index: 999;
    overflow-y: scroll;
}
#nav_close{
    width: 6%;
    position: absolute;
    right: 5%;
    top: 20px;
}
.mobile_top_nav > ul {
    padding-left: 3%;
    margin-top: 3%;
    line-height: 50px;
    margin-top: 65px;
    border-top: 1px solid #E7E7E7;
    padding-top: 40px;
}
.mobile_top_nav > ul li {
    list-style: none;
    width: 95%;
    display: flex;
}
.mobile_top_nav > ul li a{
    color: #000000;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    text-decoration: none;
    display: block;
}